@import "tailwindcss";


html {
  font-family: "Inter", "serif";
  font-optical-sizing: "auto";
  font-weight: "900";
  font-style: "normal";
}

@keyframes combinedAnimation {
  0% {
    opacity: 0;
    background-image: url('./img1/badiane01.jpg');
  }
  10% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    background-image: url('./img1/bkg3.jpg');
  }
  43% {
    opacity: 1;
  }
  66% {
    opacity: 1;
    background-image: url('./img1/Afrokitchenpic002.jpg');
  }
  76% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    background-image: url('./img1/bkg1.jpg');
  }
}
.combined-animation {
  animation: combinedAnimation 15s infinite;
  
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-section {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.fade-in-section:nth-of-type(1) {
  animation-delay: 0.5s;
}

.fade-in-section:nth-of-type(2) {
  animation-delay: 1s;
}

.fade-in-section:nth-of-type(3) {
  animation-delay: 1.5s;
}

